Login

<form class="back" action="/admin" method="POST">

    <div>
        <label for="username"> Username </label>
        <input type="text" id="username" name="username" required >
    </div>

    <br>

    <div>
        <label for="password"> password</label>
        <input type="text" id="password" name="password" required >
    </div>

    <br>

    <br>

    <div>
        <button type="submit">login</button>
    </div>
</form>

<a href="Register">GO TO REGISTER</a>
