<form class="back" action="/admin/location/<%= parcel.id %>?_method=PUT" method="POST">
    
    <br>

    <div>
        <label for="location"> change location </label>
        <input type="text"  name="location"  >
    </div>
    
    <br>

    <div>
        <button type="submit" target="blank"> update location </button>
    </div>
</form>

<a href="../admin/status"> GO TO LOGIN </a>
