wellcome

<form class="back" action="/admin/status/<%= parcel.id %>?_method=PUT" method="POST">
    
    <br>

    <div>
        <label for="status"> change status </label>
        <input type="text"  name="status"  >
    </div>
    
    <br>

    <div>
        <button type="submit" target="blank"> update status </button>
    </div>
</form>

<a href="/admin"> GO TO LOGIN </a>
