<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>mywebpage </title>

    </head>
    <body  class="back">
        
        <br>
        <%- %>
        <%- body %>
        <br>
        <link rel="stylesheet" href="stylesheet/main.css">
        
        after
        
    </body>
</html>