<h1>WELCOME TO MY PARCEL DELIVERY WEBSITE</h1>

<BR>
    <H2>This is the official website where you can get detail of your parcel delivery item</H2>

<br>


                   <h3>if you have a username and password, login here</h3>
<br>
<a href="Register/login"> go to login</a>

<br>
<br>
<br>

<h3>if you are a new user, kindly register here</h3>

<br>
<a href= "Register"> Register User </a>


<br>
<br>
<h3>admin login section</h3>

<br>
<a href="admin"> Admin login</a>