Login

<form action="/register/login" method="POST">

    <div>
        <label for="email"> Email </label>
        <input type="text" id="email" name="email" required >
    </div>

    <br>

    <div>
        <label for="password"> password</label>
        <input type="text" id="password" name="password" required >
    </div>

    <br>

    <br>

    <div>
        <button type="submit">login</button>
    </div>
</form>

<a href="/Register">GO TO REGISTER</a>
