wellcome


<form action="/parcel/search/<%= parcel.id %>?_method=PUT" method="POST">

    <br>

    <div>
        <label for="destination"> Destination </label>
        <input type="text"  name="destination"   >
    </div>
    <br>

    <a href="/parcel/search"> cancel </a>

    <div>
        <button type="submit" target="blank"> Update</button>
    </div>
</form>

<a href="../routes/login"> GO TO LOGIN </a>

